.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

h1 {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#previous-price-span {
  padding-top: 4vh;
}

.main {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  padding-top: 8vh;
  color: white;
}

.trend {
  margin: 0px 7px;
  width: 24px;
}

#current-price-amount {
  font-size: calc(10px + 3vmin);
} 

.App-link {
  font-family: 'Avenir';
  font-weight: bold;
  color: white;
  margin-top: 8vh;
  background: #0d8e82;
  padding: 15px 62px;
  border-radius: 27px;
  font-size: 19px;
  text-decoration: none;
  border-color: #00000000;
}

.App-link-loading {
  font-family: 'Avenir';
  font-weight: bold;
  color: white;
  margin-top: 8vh;
  background: #06a2d1;
  padding: 15px 62px;
  border-radius: 27px;
  font-size: 19px;
  text-decoration: none;
  border-color: #00000000;
}

.error {
  font-family: 'Avenir';
  font-weight: bold;
  color: white;
  margin-top: 8vh;
  background: red;
  padding: 15px 62px;
  font-size: 18px;
  text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
